[submodule ".registry"]
	path = .registry
	url = https://github.com/dralexharrison/dralexharrison.r-universe.dev
	branch = HEAD
[submodule "plateforce"]
	path = plateforce
	url = https://github.com/DrAlexHarrison/plateforce
	subdir = bindings/r
